<form action="." method="post">
    {% csrf_token %}
    <label for="CRUDchoice">Choose What you want to do from list :-</label><br>
    <input list="CRUD" placeholder="Choose" name="CRUDchoice" id="CRUDchoice">
    <datalist id="CRUD">
    <option value="1">Create an Event</option>
    <option value="2">Update an Event</option>
    <option value="3">View all Events</option>
    <option value="4">Delete an Event</option>
    </datalist><br><br>
    <input type="submit" name="submit">
</form>

{% if create %}
<br>
<p>CREATE MENU:-</p>
<form method="post">
    {% csrf_token %}
    <label for="name">Name of Event:</label><br>
    <input type="text" placeholder="Name" name="name" id="name"><br><br>
    <label for="date">Date of Event:</label><br>
    <input type="date" placeholder="Date" name="date" id="date"><br><br>
    <label for="des">Description:-</label><br>
    <textarea name="des" id="des" placeholder="Description" maxlength="1000" cols="20" rows="5"></textarea><br><br>
    <label for="com">Event Completed:</label>
    <input type="checkbox" name="com" id="com"><br><br>
    <input type="submit" name="submit2">
    <input type="reset" name="reset2">
</form>
{% if created %}
<p>Event Created Successfully</p>
{% endif %}
{% else %}
{% endif %}