<form action="." method="post">
    {% csrf_token %}
    <label for="CRUDchoice">Choose What you want to do from list :-</label><br>
    <!-- <input list="CRUD" placeholder="Choose" name="CRUDchoice" id="CRUDchoice"> -->
    <select id="CRUD" name="CRUDchoice">
    <option value="1">Create an Event</option>
    <option value="2">Update an Event</option>
    <option value="3">View all Events</option>
    <option value="4">Delete an Event</option>
    <option value="5">Delete all Completed Events</option>
    </select><br><br>
    <input type="submit" name="submit">
</form>

{% if create %}
<br>
<p>CREATE MENU:-</p>
<form method="post">
    {% csrf_token %}
    <label for="name">Name of Event:</label><br>
    <input type="text" placeholder="Name" name="name" id="name"><br><br>
    <label for="date">Date of Event:</label><br>
    <input type="date" placeholder="Date" name="date" id="date"><br><br>
    <label for="des">Description:-</label><br>
    <textarea name="des" id="des" placeholder="Description" maxlength="1000" cols="20" rows="5"></textarea><br><br>
    <label for="com">Event Completed:</label>
    <input type="checkbox" name="com" id="com"><br><br>
    <input type="submit" name="submit2">
    <input type="reset" name="reset2">
</form>
{% if created %}
<p>Event Created Successfully</p>
{% endif %}
{% endif %}

{% if delete %}
<form method="post" id="delete">
    {% csrf_token %}
    <label for="DelChoice">Choose What To Delete :-</label><br>
    <select id="CRUD" name="DelChoice">
        {% for ind,e in eventList %}
        <option value={{ind}}>{{e.name}}-{{e.date}}--{{e.complete}}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" name="submit3" form="delete" value="Delete">
</form>
{% if deleted %}
<p>Successfully Deleted</p>
{% endif %}
{% endif %}

{% if view %}
<table border="3" style="padding: 5px;text-align: center;">
    <tr>
        <td style="padding: 5px;"></td>
        <td style="padding: 5px;">Event Name</td>
        <td style="padding: 5px;">Date</td>
        <td style="padding: 5px;">Description</td>
        <td style="padding: 5px;">Completed</td>
    </tr>
    {% for i,e in eventList %}
    <tr>
        <td style="padding: 5px;">{{i}}</td>
        <td style="padding: 5px;">{{e.name}}</td>
        <td style="padding: 5px;">{{e.date}}</td>
        <td style="padding: 5px;">{{e.description}}</td>
        <td style="padding: 5px;">{{e.complete}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if delAll %}
<p style="font-size:large;color:red;">DELETED ALL COMPLETE EVENTS.</p>
{% endif %}