  input[type=text],input[type=date],textarea,input[type=checkbox] 
  {
    transition: width 0.4s ease-in-out;
    border: 2px solid red;
    border-radius: 4px;
    width: 10%;
    /* background-color: rgb(90, 233, 147); */
    padding: 5px 10px;
  }
  label{
    text-align: center;
  }
  
  input[type=text]:focus,input[type=date]:focus 
  {
    width: 90%;
  }
  textarea:focus 
  {
    width: 90%;
  }

  select 
  {
    padding: 10px 10px;
    border: 2px solid red;
    border-radius: 4px;
    background-color: #f1f1f1;
    text-align: center;
  }
  select:focus
  {
    width: 90%;
  }
  input[type=button], input[type=submit], input[type=reset] 
  {
    background-color: yellow;
    border: none;
    color: black;
    border: 2px solid red;
    border-radius: 10px;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 5px #999;
  }
  input[type=submit]:hover,input[type=reset]:hover 
  {
    background-color: rgb(228, 228, 14);
  }

  input[type=submit]:active,input[type=reset]:active 
  {
    background-color: rgb(228, 228, 14);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }

  table 
  {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
  }
  th 
  {
    background-color: yellow;
    color: black;
  }
  tr:nth-child(odd){
    background-color: white;
  }
  tr:nth-child(even) 
  {
    background-color: #f2f2f2;
  }

  body
  {
    background-color: #f1f1f1d2;
    background: url("/static/bg.jpg");
  }

  #mainDiv{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 1%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    box-shadow: 0 5px 5px #666;
    background-image: linear-gradient(to right,rgb(3, 151, 205),rgb(117, 175, 196),rgb(3, 151, 205)) ;
    border-radius: 2%;
  }