<html>
  <head>
    <title>Randoms</title>
  </head>
  <body>
    <div style="width:50%; margin:auto;background-color:aqua;box-shadow:2px 2px 2px 2px #666;padding:1% ">
      {% if breed %}
      <form action="." method="post">
          {% csrf_token %}
          <label for="breedChoice">Choose Breed from list :-</label><br><br>
          <input list="breeds" placeholder="Breed" name="breedChoice" id="breedChoice" style="border: 2px solid red;border-radius: 5px;">
          <datalist id="breeds">
          {% for b in breed %}
            <option value={{b}}>{{b}}</option>
          {% endfor %}
          </datalist>
          <br><br>
          <input type="submit" style="border: 2px solid red;background-color: yellow;color: black;border-radius: 5px;padding: 5px;">
        </form>
        {% if image %}
        <div style="text-align:center;">
        <img src={{image}} alt="Image Could Not Be Displayed" style="border: 10px solid white;border-radius: 10px">
        <p>Breed={{bn}}</p>
        </div>
        {% endif %}
      {% else %}
      <p>ERROR</p>
      {% endif %}
    </div>
  </body>
</html>